/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
background: rgb(70, 69, 69);
}
.kontainer {
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    background: #bbb;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 20px;
}
label {
text-align: left;
align-self: center;
}
input, button {
padding: 10px;
}