@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}
.kontainer {
    width: 600px;
    text-align: center;
    margin: 20px auto;
    padding: 30px;
    background: #aab2ca;
    color: #222;
    font-family: 'Playfair Display', serif;
    border-radius: 3px;
}
h1 {
    font-size: 50px;
}
.bild {
    height: 450px;
    padding: 20px 50px;
    margin: 0 auto;
}
.bild img {
    height: 85%;
    border: 10px solid #FFF;
    border-radius: 3px;
}
.bild p {
    background: #FFF;
    padding: 7px;
    border-radius: 3px;
}
button {
    border: none;
    padding: 10px;
    background: green;
    border-radius: 5px;
    color: #FFF;
}
button:hover {
    background: greenyellow;
}
.knapp {
    width:50px;
    height:50px;
    margin: 0 10px;
    border-radius: 3px;
    border: 1px solid #FFF;
    overflow: hidden;
    display: inline-block;
}
.miniatyr {
    width: 50px;
    cursor: pointer;
}
.miniatyr:hover {
    filter: opacity(50%);
}