body {
    background: rgb(48, 48, 119);
}
.kontainer {
    width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
}
input {
    width: 100px;
    padding: 5px;
    border-radius: 3px;
}
p {
    background: white;
    padding: 5px;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.hogt {
    background: orange;
}
.lagt {
    background: maroon;
    color: white;
}
.ratt {
    background: rgb(120, 120, 221);
    color: white;
    margin-top: 10px
}
.dum {
    background: darkgreen;
}
button {
    width: 150px;
    background: rgb(68, 111, 192);
    color: white;

}