@import url('https://fonts.googleapis.com/css?family=Aleo|Roboto');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    font-family: 'Aleo', serif;
}

.kontainer {
    max-width: 960px;
    margin: 0 auto;

}


header {
color: white;
}

header h1 {

}

header h2 {
padding: 0 0 10px;
}
nav {
    grid-area: nav;
}
nav ul {
    list-style: none;
    margin: 10px 0;
    background: linear-gradient(to right, #adadad 0%,#6b696a 100%);
    border-radius: 10px;
    padding: 8px 10px;
}

nav li {
    display: inline;
    background: rgba(0, 128, 128, 0);
    padding: 9.5px;
    transition: background 0.5s ease-out;
}

nav li a {

}
nav li:hover {
background: rgb(99, 102, 102);
}

#search {
    position: relative;
    right: 1px;
}

main {
    grid-area: innehall;
    font-family: 'Roboto', sans-serif;
    margin: 30px 20px 0px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 650px 280px;
    justify-content: space-between;
    grid-template-areas:
    "innehall sidebar";
}

article {
    background: rgb(185, 183, 183);
    color: #000;
    padding: 20px;
}
.top {
    border-radius: 10px 10px 0 0;
}
.last {
    padding: 20px 20px 40px 20px;
    margin-bottom: 0;
    border-radius: 0;
}

h3 {

}

article p {
    
}

article a {
color: teal;
}

article figure img {
    width: 550px;
    border: black 3px solid;
    border-radius: 5px;
}

article figure figcaption {

}

aside {
    grid-area: sidebar;
    color: #000;
    padding: 20px;
    height: 100%;;
}

aside section {
    background: rgb(185, 183, 183);
    margin: 0 20px 20px 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

aside h4 {
font-size: 20px;
}

aside ul {

}

aside li {
padding: 5px;
list-style: none;
}

aside li a {
color: teal;
}

footer {
    background: peachpuff;
    color: #000;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}