@import url('https://fonts.googleapis.com/css?family=Sansita');
body {
background-color: cadetblue;
}
h1 {
color: yellow;
font-family: 'Sansita', sans-serif;
font-size: 50px;
border: 5px solid yellow;
width: 400px;
height: 400px;
background-image: url("./bilder/Vitgrund.jpg");
margin-left: 564px;
margin-top: 100px;
padding: 30px
}