body {

}
table {
font-family: sans-serif;
border-collapse: collapse;
border: 1px solid #ccc;
}
tr {

}
th {
    border-bottom: 1px solid #ccc;
    padding: 10px
}
td {
    border-bottom: 1px solid #ccc;
    padding: 10px
}
img {
width: 50px;
}
